body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
    
}

h1 {
    font-weight: 200;
}

a {
    color: white;
}
a:hover {
    color: #00899b;
    transition: 0.2s all;

}

#produtos {
    border: 2px solid white;
    padding: 10px;
    border-radius: 15px;

}
#produtos:hover {
    background-color: white;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
}

span {
    color: #00899b;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Rajdhani', sans-serif;
}

img {
    width: 470px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}